.faq-panel {
  .panel {
    padding-top: 20px;
    padding-bottom: 20px;
    a:hover {
        color: black;
    }
    svg {
      height: 15px;
    }
  }
  &:not(:last-child) {
    border-bottom: .5px solid #eeeeee;
  }
  &:first-child .panel {
      padding-top: 0;
  }
}