@import 'amaro/team';
@import 'amaro/footer';

.text-gray {
	color: #555;
}

.p-y-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.m-0 {
	margin: 0;
}

a.blend {
  color: inherit;
  text-decoration: inherit;
}