<div class="row">
    {% include_relative team-member.html
        image="nathan-sm.jpg"
        linkedin="nathan-wrobel-31b7b351"
        name="Nathan Wrobel"
        title="Managing Director"
        email="Nathan.wrobel@acquiregi.com"
    %}
    {% include_relative team-member.html
        image="lauren-sm.jpg"
        linkedin="lauren-jones-acquire"
        name="Lauren Jones"
        title="Senior Account Manager / Claims Management"
        email="Lauren.jones@acquiregi.com"
    %}
    {% include_relative team-member.html
        image="craig-sm.jpg"
        linkedin="craig-bombell-619a55135"
        name="Craig Bombell"
        title="Business Development Manager"
        email="Craig.bombell@acquiregi.com"
    %}
    {% include_relative team-member.html
        image="warren-sm.jpg"
        linkedin="#"
        name="Warren Reid"
        title="Business Development Manager"
        email="warren.reid@acquiretradecredit.com"
    %}
    {% include_relative team-member.html
        image="luke-sm.jpg"
        linkedin="luke-mcmahon-a62908123"
        name="Luke McMahon"
        title="Business Development Manager"
        email="luke.mcmahon@acquiretradecredit.com"
    %}
</div>